body{
    padding: 15px 0 0 0;
}
footer{
    font-size: 12px;
    margin-top: 50px;
    padding: 25px 0 25px 25px;
    background-color: #333;
    color: white;
    border-top: 1px #888 solid;
    border-bottom: 1px #888 solid;
}

.center{
    text-align: center;
}
.centerFlex{
    display: flex;
    justify-content: center;
}
.mTop10{
    margin-top: 10px;
}
.mTop20{
    margin-top: 20px;
}
.mBot20{
    margin-bottom: 20px;
}
.pBot0{
    padding-bottom: 0;
}
.ml23{
    margin-left: 23px;
}
.ml100{
    margin-left: 100px;
}
.bRad5{
    border-radius: 5px;
}
.justify{
    text-align: justify;
}
.newsItem{
    font-size: 14px;
    color: #999;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}
.newsTitle{
    margin-bottom: 8px;
}
.newsImg {
    width: 269px;
}

#footer-content{
    line-height: 8px;
}
#carouselClinic{
    width: 421px;
}
#takeAppointmentButtonContainer{
    text-align: left;
    margin-left: 15px;
}

#connectButtonContainer{
    text-align: right;
    margin-left: -30px;
}
#takeAppointmentForm{
    width: 666px;
}
#backOfficeTabContent{
    padding: 15px;
}
#serviceTab{
    margin-bottom: 163px;
}
#newsTab{
    margin-bottom: 249px;
}
#schedulesTab{
    margin-bottom: 341px;
}
#appointmentTab{
    margin-bottom: 55px;
}
#patientTab{
    margin-bottom: 207px;
}
#professionalTab{
    margin-bottom: 3px;
}
#imagePreview{
    width: 20%;
    margin-bottom: 10px;
    float: right;
}
#accueilMain{
    min-height: 759px;
    margin-top: -15px;
}

/* ****************** MENU****************** */
header{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#navigation-menu {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    padding: 0 0 2px 0;
}
#navigation-menu li {
    float: left;
}
#navigation-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navigation-menu li a:hover {
    background-color: #111;
}
#headerSpace{
    height: 50px;
}

#takeAppointment::after{
    content: 'PRENDRE UN RDV';
}
#connexion::after{
    content: 'CONNEXION';
}
#footerRights{
    line-height: 1.25;
}
#cabinetInfos{
    width: 50%;
    margin: auto;
}
#schedulesContainer{
    position: absolute;
    left: 83%;
}
#userServiceInfos{
    text-align: end;
}

/* ************************ NEW MENU ************************ */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
}
#menuHamburger{
    text-align: center;
    margin-right: 5px;
    background-color: #333;
    color: #786bb5;
}
#menuHamburger::after{
    content: '\2630';
}
#menu-toggle {
    display: none;
}
#menu-toggle:checked + .hamburger + nav a {
    display: block;
}
/* ****************************************************** */

@media (max-width: 1820px) {
    #schedulesContainer{
        position: absolute;
        left: 82%;
    }
}
@media (max-width: 1720px) {
    #schedulesContainer{
        left: 80%;
    }
}
@media (max-width: 1560px) {
    #schedulesContainer{
        left: 77%;
    }
}
@media (max-width: 1425px) {
    #takeAppointment::after{
        content: 'RDV';
    }
    #connexion::after{
        content: 'PRO';
    }
    #connectButtonContainer{
        margin-left: -36px;
    }
    #cabinetInfos{
        width: 75%;
    }
    #schedulesContainer{
        left: 69%;
    }
}
@media (max-width: 1000px) {
    #cabinetInfos{
        width: 85%;
    }
    #schedulesContainer{
        position: unset;
    }
    #imgClinicContainer{
        margin-bottom: 0;
    }
}
@media (max-width: 677px) {
    header #navigation-menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
    #menu-toggle:checked ~ #navigation-menu{
        display: block;
        display: flex;
        flex-direction: column;
    }
    #menu-toggle:checked ~ #navigation-menu > a {
        display: block;
    }
    #menu-toggle:checked + #menuHamburger::after{
        content: '\2716';
    }
    .menu{
        display: block;
    }
    #menuContainer{
        height: 100%;
    }
    #cabinetInfos{
        width: 100%;
    }
    .newsItem {
        justify-content: center;
    }
}
