<div class="tab-pane fade" id="appointmentTab" role="tabpanel" aria-labelledby="appointment-tab">
    <div class="row">
      <form id="addAppointmentForm" class="col">
        <label for="appointmentId" class="form-label">RDV</label>
        <select id="appointmentId" class="form-select" name="appointmentId" aria-label="Default select example" style="margin-bottom: 20px; ">
            <% appointments.forEach(function(appointment) { %>
                <option value="<%= appointment.id %>">
                    <%= appointment.User.firstName  + ' ' + appointment.User.lastName + ' - ' + appointment.frenchDate + ' - ' + appointment.frenchTime %>
                </option>
            <% }); %>
        </select>
        <%- include('appointmentFormBase') %>
        <label for="status" class="form-label">Statut</label>
        <select id="status" class="form-select" name="status" aria-label="Default select example">
            <option value="pending">En attente</option>
            <option value="approved">Accepté</option>
            <option value="declined">Décliné</option>
        </select>
          <button type="submit" class="btn btn-primary" style="margin-top: 20px; ">MODIFIER</button>
      </form>
    </div>
</div>