<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabinet Dupont</title>
    <link rel="icon" type="image/png" href="/learningFormation2/public/img/logo.png">
    <link rel="stylesheet" href="/learningFormation2/public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/learningFormation2/public/css/app/appStyles.css">
    <script src="/learningFormation2/public/js/bootstrap/bootstrap.bundle.min.js" defer></script>
    <script src="/learningFormation2/public/js/app/appScripts.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="hamburger" id="menuHamburger"></label>
            <ul id="navigation-menu">
                <li><a href="/learningFormation2/">Accueil</a></li>
                <li><a href="/learningFormation2/cabinet" target="">Cabinet</a></li>
                <li><a href="/learningFormation2/service" target="">Services</a></li>
                <li><a href="/learningFormation2/news" target="">Actualités</a></li>
            </ul>
        </nav>
    </header>
    <div id="headerSpace"></div>