<!DOCTYPE html>
<html>
<head>
    <title>Cabinet Dupont</title>
    <link rel="icon" type="image/png" href="/public/img/logo.png">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/app/appStyles.css">
    <script src="/public/js/bootstrap.bundle.min.js" defer></script>
    <script src="/public/js/app/appScripts.js" defer></script>
</head>
<body>
    <header id="appHeader">
        <nav>
            <ul id="navigation-menu">
                <li><a href="/">Accueil</a></li>
                <li><a href="/cabinet" target="">Cabinet</a></li>
                <li><a href="/servicesPage" target="">Services</a></li>
                <li><a href="/newsPage" target="">Actualités</a></li>
            </ul>
        </nav>
    </header>