<div>
    <div class="mb-3">
        <label for="title" class="form-label">Titre</label>
        <input type="text" name="title" class="form-control" id="title">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Contenu</label>
        <textarea class="form-control" placeholder="Décrire la nouvelle" id="content" name="content" style="height: 90px"></textarea>
    </div>
</div>