<div class="tab-pane fade" id="newsTab" role="tabpanel" aria-labelledby="news-tab">
  <div class="row">
    <form id="addNewsForm" class="col needs-validation" novalidate>
        <%- include('newsFormBase') %>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; ">CRÉER</button>
    </form>
    <form id="updNewsForm" class="col">
        <div style="margin-bottom: 16px; "><%- include('newsSelect') %></div>
        <%- include('newsFormBase') %>
        <div class="form-check" style="margin-top: 10px; ">
            <input class="form-check-input" type="checkbox" value="" id="obsoleteNews" name="obsolete">
            <label class="form-check-label" for="obsolete">
              Obsolète
            </label>
        </div>
        <div class="row" style="margin-top: 20px; ">
            <button type="submit" class="btn btn-primary col-3" >MODIFIER</button>
            <div class="col-6" ></div>
            <button id="deleteNewsButton" type="button" class="btn btn-danger col-3">SUPPRIMER</button>
        </div>
    </form>
  </div>
</div>