<div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="userEmail" class="form-control" id="email" aria-describedby="emailHelp"
    <% if (typeof toUpd !== 'undefined') { %>disabled="disabled"<% } %> >
</div>
<div class="mb-3">
    <label for="firstName" class="form-label">Prénom</label>
    <input type="text" class="form-control" id="firstName" name="userFirstName"
    <% if (typeof toUpd !== 'undefined') { %>disabled="disabled"<% } %> >
</div>
<div class="mb-3">
    <label for="lastName" class="form-label">Nom</label>
    <input type="text" class="form-control" id="lastName" name="userLastName"
    <% if (typeof toUpd !== 'undefined') { %>disabled="disabled"<% } %> >
</div>
<div class="mb-3">
    <label for="phoneNumber" class="form-label">Téléphone</label>
    <input type="text" class="form-control" id="phoneNumber" name="userPhoneNumber"
    <% if (typeof toUpd !== 'undefined') { %>disabled="disabled"<% } %> >
</div>