<div>
    <div class="mb-3">
        <label for="openTime" class="form-label">Ouverture</label>
        <input type="time" step="60" class="form-control" id="openTime" name="openTime" min="07:00" max="21:00" required>
        <div class="valid-feedback">
            Correct !
        </div>
        <div class="invalid-feedback">
            Veuillez renseigner un horaire d'ouverture !
        </div>
    </div>
    <div class="mb-3">
        <label for="closeTime" class="form-label">Fermeture</label>
        <input type="time" step="60" class="form-control" id="closeTime" name="closeTime" min="07:00" max="21:00" required>
        <div class="valid-feedback">
            Correct !
        </div>
        <div class="invalid-feedback">
            Veuillez renseigner un horaire de fermeture !
        </div>
    </div>
</div>