<div>
    <div class="mb-3">
        <label for="name" class="form-label">Libelle</label>
        <input type="text" name="name" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
        <label for="detail" class="form-label">Détail</label>
        <textarea class="form-control" placeholder="Détaillez le service" id="detail" name="detail" style="height: 90px"></textarea>
    </div>
</div>