<label for="serviceId" class="form-label">Service</label>
<select id="serviceId" class="form-select" name="serviceId" aria-label="Default select example">
    <% services.forEach(function(service) { %>
        <option value="<%= service.id %>"><%= service.name %></option>
    <% }); %>
</select>