<div>
    <div class="mb-3">
        <label for="name" class="form-label">Libelle</label>
        <input type="text" name="name" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Détaillez le service" id="detail" name="detail" style="height: 100px"></textarea>
        <label for="detail">Détail</label>
    </div>
</div>