<%- include('includes/header') %>
<main style="margin-bottom: 600px; ">
    <h1 class="center">Cabinet du docteur Dupont - Connexion à l'espace professionnel</h1>
    <div class="container centerFlex">
        <form id="connexionForm" action="/login" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">CONNEXION</button>
        </form>
    </div>
</main>
<%- include('includes/footer') %>