<footer>
    <div id="footer-content">
        <p>© 2024 Site web professionnel du Docteur Dupont. Tous droits réservés.</p>
        <p>Contactez-nous : <a href="mailto:contact@monsiteweb.com">contact@monsiteweb.com</a></p>
        <div id="social-media-links">
            <a href="https://www.facebook.com/monsiteweb" target="_blank">Facebook</a> |
            <a href="https://www.twitter.com/monsiteweb" target="_blank">Twitter</a> |
            <a href="https://www.instagram.com/monsiteweb" target="_blank">Instagram</a>
        </div>
    </div>
</footer>
</body>
</html>