<%- include('includes/header') %>
<main style="margin-bottom: 114px; ">
    <h1 class="center">Cabinet du docteur Dupont - PRENDRE RDV</h1>
    <div class="container centerFlex">
        <form id="takeAppointmentForm" action="/appointment/add" method="post">
            <%- include('includes/appointmentFormBase') %>
            <button type="submit" class="btn btn-primary">PRENDRE RDV</button>
        </form>
    </div>
    <div id="appointmentDoneContainer">
        <h3 id="appointmentDone" <% if (appointmentDone === "true") { %>style='display: block'<% } else { %>style='display: none'<% } %>>RDV enregistré</h3>
    </div>
</main>
<%- include('includes/footer') %>